.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  
  
  .contact-form input,
  .contact-form select {
    width: calc(100% - 24px);
  }
  
  .contact-form button {
    align-self: flex-start;
  }
  